@import "../../lib/native-style.css";
@import "./dragMove.css";

#drag_area,
.drag-area {
  display: flex;
}
.drop-area {
  border: 2px solid #c4c4c4;
  padding: 5%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.drop-area:not(:first-child) {
  border-left: 0;
}
[draggable],
.drag-item,
.drop-template {
  display: block;
  border: 2px solid #808080;
  padding: .5em;
  font-family: monospace;
  font-size: 1.25em;
  background-color: #c4c4c4;
  color: #000000;
  margin-bottom: .5em;
}
.drop-template {
  background-color: whitesmoke;
  border-style: dashed;
}
.drop-template::before {
  content: '\00a0';
}
.drop-hide {
  display: none;
}